body {
  margin: 0;
  padding: 0;
  background-image: url("../images/background.jpg");
  background-size: 100%;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

img {
  height: 300px;
  background-color: #a9947b;
}

.timer,
.question,
.result1,
.result2,
.response,
button {
  background-color: #a9947b;
}

.response:hover {
  background-color: #CCCCCC;	
}


/**************************************************************************
 **************************************************************************
 ******************** large sized monitor Starts here!! *******************
 **************************************************************************
 **************************************************************************/

@media only screen and (max-width: 980px) {
  img {
    height: 400px;
  }
  button {
    display: inline-block;
    font-size: 24px;
  }
}


/**************************************************************************
 **************************************************************************
 *********************** full-size monitor Starts here!! ******************
 **************************************************************************
 **************************************************************************/

@media only screen and (max-width: 980px) {
  img {
    height: 300px;
  }
  button {
    display: inline-block;
    font-size: 20px;
  }
}


/**************************************************************************
**************************************************************************
*********************** iPad Starts here!! *******************************
**************************************************************************
**************************************************************************/

@media only screen and (max-width: 768px) {
  img {
    height: 250px;
  }
  button {
    display: inline-block;
    font-size: 18px;
  }
}


/**************************************************************************
 **************************************************************************
 *********************** mobile devices Starts here!! *********************
 **************************************************************************
 **************************************************************************/

@media only screen and (max-width: 640px) {
  img {
    height: 200px;
  }
  button {
    display: inline-block;
    font-size: 16px;
  }
}
