body {
  margin: 0;
  padding: 0;
  background-image: url("../images/background.jpg");
  background-size: 100%;
  font-family: "Arial", "Helvetica Neue", Helvetica, sans-serif;
}

img {
  height: 300px;
  background-color: #a9947b;
}

.timer,
.question,
.result1,
.result2,
.response,
button {
  background-color: #a9947b;
    display: inline-block;
}

.response:hover {
  background-color: #CCCCCC;	
}

